html {
    background: url(phoenix-bg.jpg) no-repeat center center fixed;
    background-size: contain;
}
body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}
h1, h2, h3 {
    line-height: 1.2;
}
a {
    font-weight: bold;
}
.center {
    margin: 1em auto;
    display: block;
    horizontal-align: center;
}
.fan_websites_header {
    background: linear-gradient(to right, #cc0000, #ccaa00, #aadd00,
                                          #00cc00, #00ccaa, #0000cc,
                                          #aa00aa, #cc0000, #cc0000);
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s linear infinite;
    background-size: 1000% 100%;
    letter-spacing: .3em;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
